html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.introBody {
    background-image: url('./assets/img/intro.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #051926;
    margin: 0;
    min-height: 100vh;
    
    /* Importante: permite que el botón se posicione respecto al body */
    position: relative; 
    display: flex;
    justify-content: center;
}

.buttonContainer {
    position: absolute;
    bottom: 120px; /* Distancia original para móvil */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px; /* Espacio entre los dos botones */
    justify-content: center;
    align-items: center;
}

.navButton img {
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.navButton img:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 1024px) {
    .buttonContainer {
        left: 48%;
        bottom: 20px; /* Ajustado para que quepan ambos verticalmente */
        flex-direction: column; /* AQUÍ: Cambia a uno sobre el otro */
        gap: 10px; /* Espacio vertical entre botones */
    }
}